{% extends "main.html" %}
{% block tabs %}
  {{ super() }}
  <style>
    .md-header {
      position: initial;
    }
    .md-main__inner {
      margin: 0;
    }
    .md-content {
      display: none;
    }
    @media screen and (min-width:60em){
      .md-sidebar--secondary {
        display: none;
      }
    }
    @media screen and (min-width:76.25em){
      .md-sidebar--primary{
        display: none;
      }
    }
    .md-tabs {
      display: none;
    }
    .bgimg-1, .bgimg-2, .bgimg-3 {
      position: relative;
      opacity: 1;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

    }
    .bgimg-1 {
      background-image: url("images/banner.jpg");
      height: 100%;
    }
  </style>

  <section class="mdx-container">
    <div class="bgimg-1">
      <div class="md-grid md-typeset" style="height:200px">

      </div>
    </div>

    <div class="md-grid md-typeset">
      <div class="mdx-description">
        {{ page.content }}
      </div>
    </div>
  </section>
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
  {{ super() }}
{% endblock %}
